@model HomeInfo

@{
    ViewData["Title"] = "SS&V Home Page";
}

@*<div>
        <img class="pull-right" src="images/fox.png" />
    </div>*@

<div>
    <img src="~/images/divider1.png" />
</div>

<div style="margin-left: 20px; width: 80%; height: 70%">

    @{await Html.RenderPartialAsync("HomeContent", Model.DayOffset);}

</div>

<br />
<br />
<br />

<div>
    <img src="~/images/divider1.png" />
</div>

