@model IEnumerable<Activity>

<table class="table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Activity
            </th>
            <th>
                When
            </th>
            <th>
                Who
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.Link)> 
                    @Html.DisplayFor(modelItem => item.Name)
                </a>

            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
        </tr>
}
    </tbody>
</table>
