@model Dictionary<string, string>

<div>
    @foreach (var bookmark in Model)
    {
        <div class="col-md-1" >
            <a class="ui-button" target="_blank" href=@bookmark.Value>@bookmark.Key</a>
        </div>
    }
</div>