@model EventDay

<div class="fa-box" style="height: 60px; width: 60px; border-style: solid">
  
    
    <label class="fa-bold">
        @Model.Date.ToString("dd MMM")
        <br/>
      
        @foreach (var evt in Model.Events)
        {
            <img src="~/images/tick.png" alt="Event"/>
            @*@Model.Events.Count*@
        }

    </label>
</div>
