@model EventDay

<div class="fa-box" style="height: 60px; width: 60px; border-style: solid">
  
    
    <label class="fa-bold">
        @Model.Date.ToString("dd MMM")
        <br/>

      
        @if (@Model.Events.Count > 0)
        {
            @Model.Events.Count
        }

    </label>
</div>
