@model User

@if (Model.Id == 0)
{
    <label>Hi Guest! </label>
    @Html.ActionLink("Register", "Register", "Admin")
    @Html.ActionLink("Login", "Login", "Admin")
}
else
{
    <label>Welcome, @Model.Username </label>
    @Html.ActionLink("Logout", "Logout", "Admin")
}
