@model CMS.Models.MusicDetails

@{
    ViewData["Title"] = "Create Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Music Item</h2>

<h4>Music Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMusic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpotifyLink" class="control-label"></label>
                <input asp-for="SpotifyLink" class="form-control" />
                <span asp-validation-for="SpotifyLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFilePath" class="control-label"></label>
                <input asp-for="ImageFilePath" class="form-control" />
                <span asp-validation-for="ImageFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearReleased" class="control-label"></label>
                <input asp-for="YearReleased" class="form-control" />
                <span asp-validation-for="YearReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MusicList">Back to Music List</a>
</div>

